<tr>
  <td class="category"></td>
  <td class="subject"><%=column[:ja_name]%></td>
  <% achievements.each do |achievement|%>

  <td class='day-search-item'>
    <%=(budget[column[:name].to_sym]*Store.day_ratio(achievement[:ymd],ratio)).floor.to_s(:delimited) %>
  </td>
  <td class='day-search-item'>
    <%= achievement[column[:name].to_sym].to_s(:delimited)%>
  </td>
  <td class='day-search-item'>
    <%= percentage(achievement[column[:name].to_sym],budget[column[:name].to_sym]*Store.day_ratio(achievement[:ymd],ratio))%>

  </td>
  <% end %>
</tr>
