
<tr class="search-record">

  <td class="category"></td>
  <td class="subject"><%=name%></td>
<% achievements.each do |achievement|%>

  <td class='day-search-item'>
    <%=(budget_columns(columns,budget)*Store.day_ratio(achievement[:ymd],ratio)).floor.to_s(:delimited) %>
  </td>
  <td class='day-search-item'>
    <%= achievement_columns(columns,achievement).to_s(:delimited)%>
  </td>
  <td class='day-search-item'>
    <%= percentage(achievement_columns(columns,achievement),budget_columns(columns,budget)*Store.day_ratio(achievement[:ymd],ratio))%>

  </td>
  <% end %>
</tr>
