<tr class="search-record" style='background-color:#FFEEE6'>
  <td class="category"><%=name%></td>
  <td class="subject"></td>
  <td class="search-item"><%=(budget_columns(profit_columns,total_budget) - budget_columns(loss_columns,total_budget)).to_s(:delimited)%></td>
  <td class="search-item">
    <%=(achievement_columns(profit_columns,total_achievement)- achievement_columns(loss_columns,total_achievement)).to_s(:delimited)%></td>
  <td class="search-item"><%=percentage(achievement_columns(profit_columns,total_achievement) - achievement_columns(loss_columns,total_achievement),budget_columns(profit_columns,total_budget) - budget_columns(loss_columns,total_budget))%></td>
</tr>
