<td class='variable-column'>
  <%= fh.text_field :electric, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :water, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :gas, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :power, :class=> "input_variable text-end"%>
</td>
