<div class="budgets-wrapper">
  <div class="main-content-title-wrap">閲覧・編集</div>
  <div class="result-wrapper">
    <div class="result-title">
      曜日別予算比率入力情報
    </div>
  </div>
  <div class="result-content">
    <table class="budgets-table">
      <tr class='table-head'>
        <th class='search-column'>曜日</th>
        <th class='budgets-value'>予算比率入力</th>
        <th class="last-month">現在の予算比率</th>
      </tr>
      <tr>
        <td class='search-column'>日曜日</td>
        <td class='budgets-value'>100</td>
        <td class="last-month">100</td>
      </tr>
      <tr>
        <td class='search-column'>月曜日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">70</td>
      </tr>
      <tr>
        <td class='search-column'>火曜日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">75</td>
      </tr>
      <tr>
        <td class='search-column'>水曜日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">80</td>
      </tr>
      <tr>
        <td class='search-column'>木曜日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">75</td>
      </tr>
      <tr>
        <td class='search-column'>金曜日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">90</td>
      </tr>
      <tr>
        <td class='search-column'>土曜日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">110</td>
      </tr>
      <tr>
        <td class='search-column'>祝日</td>
        <td class='budgets-value'><input type="text" class="input-group-append text-end"></td>
        <td class="last-month">120</td>
      </tr>

    </table>
  </div>
  <div class="form-group-btn">
    <input type="button" class="form__btn" value="登録">
  </div>
</div>
