<div class="budgets-wrapper">
  <div class="main-content-title-wrap">
    閲覧・編集
    <div class="sub-buttons">
      <div id="add_up_down" class="d-inline">
        <a href="" class="info">CSVアップロード</a>
      </div>
    </div>
  </div>

  <div class="search">
    <div class="form-group">
      <div class="form-label">
        <label>指定年月</label>
      </div>
      <div class="form-inline">
        <div class="inline-center">
          <select id="search_year" name="search_year" class="input-item text-end">
            <% @year_range.each do |n| %>
            <% if n == @this_year%>
            <option selected=""><%=n%></option>
            <% else %>
            <option><%=n%></option>
            <% end %>
            <% end %>
          </select>
          <span>/</span>
          <select id="search_month" name="search_month" class="input-item">
            <% (1..12).each do |n|%>
            <% if n == @this_month %>
            <option selected=""><%=n%>月</option>
            <% else %>
            <option><%=n%>月</option>
            <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group-btn">
      <input type="button" name="search" id="search" class="form__btn" value="検索" />
    </div>
  </div>
  <div class="result-wrapper">
    <div class="result-title">
      臨時収入情報
    </div>
  </div>
  <div class="result-content">
    <table class="budgets-table">
      <tr class='table-head'>
        <th class='sale-day top-sale'>2020年</th>
        <th class='top-weeks'>曜日</th>
        <th class='sale-input-head width30 '>臨時収入</th>
        <th class="sale-input-head width30 ">備考</th>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 1</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 2</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 3</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 4</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 5</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 6</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 7</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 8</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 9</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 10</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>
      <tr>
        <td class='sale-day top-sale'>11 / 11</td>
        <td class='sale-day top-sale'>月</td>
        <td class='sale-input width30'>
          <input type="text" class="input-group-append text-end">
        </td>
        <td class='memo-input width30'>
          <input type="text" class="input-memo text-start">
        </td>
      </tr>

    </table>
  </div>
  <div class="form-group-btn">
    <input type="button" class="form__btn" value="登録">
  </div>
</div>
