.content-wrapper {
  padding: 15px;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.main-content-title-wrap {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
label {
  font-size: 13px;
  font-weight: 700;
  width: 60px;
}
.form-label {
  margin-left: 20px;
  padding-top: 2px;
  width: 60px;
}
.form-group {
  margin-bottom: 10px;
  display: flex;
}
.form-inline {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  right: 29px;
}
.form-inline-store {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  right: 120px;
}
.form-group-btn {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.input-item {
  width: 170px;
  height: 33px;
  font-size: 13.5px;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  color: #495057;
  border-radius: 0.3rem;
}
/* 入力フォームtable関係 */
.result-title {
  height: 34px;
  width: 100%;
  background: #eee;
  padding: 8px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 13px;
}
.result-wrapper {
  width: 100%;
}
.record {
  height: 50px;
}
.day {
  border: #dee2e6 solid 1px;
  text-align: center;
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 700;
  width: 90px;
}
.weeks {
  border: #dee2e6 solid 1px;
  text-align: center;
  color: #4a4a4a;
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  width: 69px;
}
.column {
  width: 157px;
  border: #dee2e6 solid 1px;
  text-align: center;
}
.variable-column {
  width: 130px;
  border: #dee2e6 solid 1px;
  text-align: center;
}
.input {
  height: 33px;
  width: 120px;
  border: 1px solid #c5c5c5;
  padding: 11px;
  border-radius: 0.3rem;
}
.input_variable {
  height: 33px;
  width: 100px;
  border: 1px solid #c5c5c5;
  padding: 11px;
  border-radius: 0.3rem;
}
.upper-table {
  height: 33px;
}
.under-table {
  display: block;
  height: calc(65vh - 100px);

  overflow-y: scroll;
}
.table-head {
  height: 38px;
  background-color: #eee;
}
.variables-table-all {
  display: block;
  height: 63vh;
  margin-top: 18x;
  margin-left: 20px;
  width: calc(100vh - 100px);
  min-width: 810px;
}
.incomes-table-all {
  display: block;
  height: 63vh;
  margin-top: 18x;
  margin-left: 20px;
  width: calc(100vh - 100px);
  min-width: 810px;
}
.sales-table-all {
  display: block;
  height: 63vh;
  margin-top: 18x;
  margin-left: 20px;
  width: calc(100vh - 100px);
  min-width: 810px;
}
/* 変動費管理 */
.form-inline_left {
  position: relative;
  right: 92px;
}

/* エラーメッセージ */
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  display: contents;
}
.error-message {
  font-size: 15px;
  list-style: none;
  color: rgb(182, 48, 0);
}
/* 実績 */
.search-table-all {
  width: 560px;
  min-width: 530px;
  height: 1350px;
  min-height: 800px;
  padding-top: 10px;
}
.index-table-all {
  width: 560px;
  min-width: 530px;
  height: 560px;
  min-height: 800px;
  padding-top: 10px;
}
.search-head {
  height: 23px;
  width: 650px;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}
.category {
  height: 23px;
  width: 90px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  text-align: left;
}
.subject {
  height: 23px;
  width: 110px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  text-align: left;
}
.search-item {
  height: 23px;
  width: 130px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  text-align: right;
}
.canvas-container {
  padding:20px;
  height: 400px;
  width:600px
}
.day-search-item {
  height: 23px;
  width: 100px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 0.7rem;
  text-align: right;
  padding: 0.1rem 0.3rem;
}
.day-search-head {
  height: 23px;
  max-height:23px;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  table-layout: fixed

}
.day-search-table-all {
  height:800px;
  width:1000px;
  min-height: 800px;
  margin:20px 10px 40px 10px;
  overflow: scroll;

}
.day-search{
  table-layout: fixed;
  width:100%;
  border-collspace: separate;
}
.top {
  position: sticky;/*←これで追尾させる*/
  top: -1px;/*←top:0;だと隙間が開いてしまう為マイナス値で詰める*/
  z-index:10;
  text-align: center;
  background: #EEEEEE;
  color: #485056;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
 }
.head {
  position: sticky;/*←これで追尾させる*/
  top: 0px;/*←top:0;だと隙間が開いてしまう為マイナス値で詰める*/
  z-index:2;
  text-align: center;
  background: #EEEEEE;
  color: #485056;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
 }
 .side1{
  position: sticky;
  left: 0px;
  background: inherit;
  box-shadow: 4px 0 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border:  solid #dddddd;
  border-width: 1px 0 1px 1px;

 }
 .side1::before{
  content: '';
  position : absolute ;
  top : 0;
  left : -1px;
  width : 100%;
  height : 100%;
  border:  solid #dddddd;
  border-width: 0 0 0 1px;
 }
 .side2{
  position: sticky;
  left: 91px;
  background: inherit;
  box-shadow: 4px 0 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border:  solid #dddddd;
  border-width: 1px 0 1px 0;
 }
 .side2::before{
  content: '';
  position : absolute ;
  top : 0;
  left : -1px;
  width : 100%;
  height : 100%;
  border:  solid #dddddd;
  border-width: 0 1px 0 1px;
 }
